Memos/Notatki/Connected Services/ServiceReference1/SQL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfMemoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemoDto" nillable="true" type="tns:MemoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoDto" nillable="true" type="tns:ArrayOfMemoDto" />
  <xs:complexType name="MemoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemoDto" nillable="true" type="tns:MemoDto" />
</xs:schema>